@if (quiz.currentQuestion(); as question) {
  <h2>{{ question.text }}</h2>

  @for (option of question.options; track option.id) {
    <button (click)="select(question.id, option.id)">
      {{ option.text }}
    </button>
  }

  <div style="margin-top: 12px">
    <button (click)="next()">Next</button>
    <span style="margin-left: 8px">
      {{ quiz.currentIndex() + 1 }} / {{ quiz.total() }}
    </span>
  </div>
} @else {
  <p>Questions finished. Let’s see your results!</p>
  <button (click)="goResult()">Show result</button>
}
